body {
    font-family: serif;
    background-color: lavender;
}

h2,
h3,
h4 {
    font-family: serif;
    text-align-last: left;
    color: dimgrey;
}

ul,
li {
    color: dimgrey;
    width: 500px;
}

img {
    border-color: mediumpurple;
    border-style: groove;
    border: 5;

}

.about_me {
    text-indent: 50px;
    text-align: center;
    color: black;
    padding-left: 5%;
    padding-right: 5%;
}

#Additional {
    border-style: dashed;
    border-color: firebrick;
    text-indent: 10px;
    overflow: auto;
    background-color: antiquewhite;
}

/*place both in a group and float to the right to keep on right side*/
.army,
.nscs {
    float: right;
    width: auto;
    padding: 10px;
    border: 0;
}

.banner {
    margin: 0;
    padding: 0;
}
